@model IEnumerable<SampleMVC.Models.Category>

@{
    ViewData["Title"] = "GetFromServices";
   

}


<h1>GetFromServices</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
    <i class="bs-tooltip-auto text-dark"></i><a asp-action="InsertFromServices" asp-controller="Categories" aclass="btn btn-warning btn-sm">Insert</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryName)
            </td>
            <td>
                 <i class="ti-eye text-primary"></i><a asp-action="EditFromServices" asp-controller="Categories" asp-route-id="@item.categoryID" class="btn btn-warning btn-sm">edit</a>
                    <i class="ti-close text-danger"></i>  <a asp-action="DeleteFromServices" asp-controller="Categories"  onclick="return confirm('Are you sure you want to delete this User?')" asp-route-id="@item.categoryID" class="btn btn-danger btn-sm">delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


